.navbar {
    background-color: #131921;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    color: white;
    font-size: 1.2em;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.navbar a:hover {
    color: #f90;
}