body {
    background-color: #d1ebf3;
}

.search-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 15px;
}

.search-input {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: -1px;
}

.filter-select {
    width: 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: -1px;
}